@use '../variables'

.header-container
    width: 100%

    .header
        width: 100%
        max-width: 1440px
        height: 5.3rem
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 4.4%
        font-size: .75rem
        margin: 0 auto
        
        @media (max-width: 550px)
            height: 5rem
            width: 100%
            padding: 0 1rem
            font-size: .785rem

        h1
            @media (max-width: 550px)
                font-size: .9rem

        .theme-toggler
            span
                display: flex
                cursor: pointer
                .moon
                    font-size: 1.3rem
                    width: 2rem                    
                    @media (max-width: 550px)
                        width: 1rem
                        height: 1rem
                p
                    font-weight: 800
                    font-size: 1rem
                    @media (max-width: 550px)
                        font-size: .8rem
.light-theme-header
    background-color: variables.$text-color-dark-and-light-elements
    box-shadow: 0 1px 6px 1px rgba(185, 185, 185, 0.3)
    .header
        color: variables.$text-color-light   
        color: variables.$text-color-light
        margin-bottom: 0.3rem
.dark-theme-header
    background-color: variables.$dark-elements    
    .header
        color: variables.$text-color-dark-and-light-elements
        font-weight: 300    
        color: variables.$text-color-dark-and-light-elements
        margin-bottom: 0rem
        
