@use '../variables'


.header
    width: 80%
    max-width: 1440px
    height: 5.3rem   
    background: variables.$text-color-dark-and-light-elements
    display: flex
    justify-content: space-between
    align-items: center
    box-shadow: 0 1px 6px 1px rgba(185, 185, 185, 0.3)
    z-index: 1 
    padding: 0 5rem
    font-size: .75rem    
    
    h1
        
    .theme-toggler
        span
            display: flex
            cursor: pointer
            .moon
                font-size: 1.3rem                
                width: 2rem
            p
                font-weight: 800
                font-size: 1rem
